a {
    color: #333333;
}

.navbar {
    background-color: #333333;
}
.navbar .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}
.navbar .navbar-nav > li.dropdown > a {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}
.navbar .navbar-nav > li > a:hover {
    background-color: #080808;
    border-left: 1px solid #080808;
    border-right: 1px solid #080808;
}
.navbar .navbar-nav > li.active > a {
    background-color: #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    color: #000000;
}
.navbar .navbar-nav > li.open > a {
    /*background-color: #ffffff;*/
    border-left: 1px solid #080808;
    border-right: 1px solid #080808;
    /*color: #ffffff;*/
}
.navbar .navbar-nav > .dropdown.active > a,
.navbar .navbar-nav > .dropdown.active.open > a {
    border-left: 1px solid #333333;
    border-right: 1px solid #ffffff;
}
/*.navbar .navbar-nav > li > a.dropdown-toggle,*/
.navbar .navbar-nav > .dropdown.open > a {
    border-left: 1px solid #080808;
    border-right: 1px solid #080808;
}
.navbar .navbar-nav > li.active > a:hover {
    /*background-color: #ffffff;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    color: #000000;*/
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #333333;
}
.nav .open > a,
.nav .open > a:hover, .nav .open > a:focus {
    background-color: #080808;
    border-color: #080808;
}
.navbar-brand {
    color: #dddddd;
}
.navbar-brand:hover {
    color: #666666;
}

.navbar-side {
    background-color: #f3f3f3;
}
.navbar-side > .nav > li > a {
    color: #333333;
    border-bottom: 1px solid #f3f3f3;
}
.navbar-side > .nav > li > a:hover,
.navbar-side > .nav > li.active > a {
    background-color: #cccccc;
    color: #000000;
}
.navbar-side > .nav > li.subnav > a,
.navbar-side > .nav > li.subnav > a:hover {
    background-color: #f5f5f5;
}

.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #333333;
    border-top: none;
}
.dropdown-menu > li > a {
    color: #080808;
}
.dropdown-menu > li > a:hover {
    color: #000000;
}
.dropdown-menu .divider {
    background-color: #222222;
}

.header {
    background-color: #ffffff;
}

.breadcrumb > li.active > a {
    color: #333333;
}
.breadcrumb > li + li:before {
    color: #999999;
}

.btn-group .dropdown-menu {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.btn-group .dropdown-menu .divider {
    background-color: #e5e5e5;
}
.btn-group .dropdown-menu > li > a {
    color: #333333;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #cccccc;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #333333;
    color: #ffffff;
}

.btn-theme > .btn-default {
    background-color: #333333;
    border: 1px solid #333333;
    color: #f5f5f5;
}
.btn-theme > .btn-default:hover {
    background-color: #080808;
}

.panel-theme .panel-default {
    border-color: #333333;
}
.panel-theme .panel-default > .panel-heading {
    background-color: #333333;
    border-color: #333333;
    color: #f5f5f5;
}
.panel-theme .panel-default > .panel-heading a {
    color: #f5f5f5;
}
.panel-default > .panel-heading a {
    color: #333333;
}
.panel-default > .panel-heading a span.fa:hover {
    background-color: #dddddd;
    color: #333333;
}
.panel-theme > .panel-default > .panel-heading a span.fa:hover {
    background-color: #f5f5f5;
    color: #333333;
}
.panel-theme .list-group-item {
    color: #333333;
}

.dashboard-overview .panel {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border: 1px solid #333333;
}
.dashboard-overview .do-icon {
    background-color: #333333;
    color: #ffffff;
}

.footer {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
}

.heading_title {
    border-bottom: 1px solid #cccccc;
}

@media (max-width: 720px) {
    .row-panel .col-lg-3.container-fluid,
    .row-panel .col-sm-6.panel-theme,
    .row-panel .col-sm-4.panel-theme,
    .row-panel .col-sm-4:last-child,
    .row-panel .col-sm-3.panel-theme,
    .row-panel .col-sm-3,
    .row-panel .col-sm-3:last-child {
        margin-bottom: 4px;
        padding-left: 0;
        padding-right: 0;
    }
}