body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 12px;
}

a {
    cursor: pointer;
}
a:focus {
    outline: none;
    outline-offset: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    min-height: 40px;
    border-bottom: 0;
}
.navbar > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-header {
    height: 40px;
}
.navbar-brand {
    padding: 10px 20px;
    height: 44px;
    min-width: 151px;
}
.navbar-nav > li > a {
    font-size: 13px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    z-index: 999;
}

.navbar-side {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    height: 100%;
    width: 200px;
    max-width: 200px;
    padding-top: 10px;
    overflow: auto;
}
.navbar-side-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar-side > .nav > li > a {
    font-size: 12px;
    padding: 6px 15px;
}
.navbar-side > .nav > li.active > a {
    font-weight: bold;
}
.navbar-side > .nav > li.subnav > a {
    cursor: default;
    font-size: 16px;
}

.page-content {
    padding: 12px 15px;
    padding-bottom: 0;
}
.page-content .content {
    /*margin-left: 192px;*/
    margin-left: 0;
}

.header {
    /*background-color: #cccccc;*/
    /*min-height: 40px;*/
    margin-top: 5px;
    margin-bottom: 10px;
}
.header .header-title {
    font-size: 24px;
}
.header .breadcrumb {
    font-size: 12px;
}

.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 12px;
}
.dropdown-menu > li > a {
    padding: 5px 20px;
}

.breadcrumb {
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 0;
}
.breadcrumb > li.active,
.breadcrumb > li > a {
    font-size: 11px;
}
.breadcrumb > li + li:before {
    padding: 0 3px;
    content: "»\00a0";
}

.global-button {
    /*margin-top: 12px;*/
}
.btn-group .dropdown-menu {
    /*border-radius: 4px;*/
}
.btn-sm,
.btn-group-sm > .btn {
    border-radius: 0;
}

.row-panel {
    clear: both;
    margin-bottom: 15px;
}
.row-panel:before,
.row-panel:after {
    clear: both;
    content: " ";
    display: table;
}
.row-panel > div:first-child {
    padding-left: 0;
    padding-right: 7.5px;
}
.row-panel > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.row-panel > div:last-child {
    padding-left: 7.5px;
    padding-right: 0;
}
.row-panel > div.panel-full {
    padding-left: 0;
    padding-right: 0;
}
/*.row-panel .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-full {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-left {
    padding-left: 0;
    padding-right: 7.5px;
}
.row-panel .panel-center {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.row-panel .panel-right {
    padding-left: 7.5px;
    padding-right: 0;
}*/
.panel {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 7px 15px;
}

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
}

.panel-default > .panel-heading a {
    padding: 0;
}
.panel-default > .panel-heading a span.fa {
    padding: 3px 6px;
}
.panel-collapse > .panel-body {
    max-height: 200px;
    overflow: auto;
}

.icon-left {
    margin-right: 3px;
}
.icon-right {
    margin-left: 3px;
}

.dashboard-overview {

}
.dashboard-overview .panel {
    position: relative;
}
.dashboard-overview .panel:hover {

}
.dashboard-overview .do-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    padding: 4px 10px;
/*    min-width: 75px;*/
    text-align: center;
}
.dashboard-overview .do-value {
    margin-left: 72px;
}
.dashboard-overview .do-value .total {
    padding: 6px 8px 2px;
    font-size: 22px;
    overflow: hidden;
}
.dashboard-overview .do-value .title {
    padding: 2px 8px 6px;
    overflow: hidden;
}

.footer {
    border-bottom: none;
    padding: 10px;
}

.heading_title {
    text-transform: uppercase;
    padding: 3px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    font-size: 12px;
    padding: 5px 8px;
}
select.form-control {
    padding: 5px 8px;   
}
.form-control:focus {
    box-shadow: none;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-both {
    clear: both;
}

.radio, .checkbox {
    margin-top: 2px;
    margin-bottom: 5px;
}
.radio label, .checkbox label {
    display: inline-block;
    vertical-align: 2px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
}



/**
 * nanti musti diapus ya
 */
.row-panel .panel-body {
    min-height: 200px;
    max-height: 400px;
}
.row-panel .panel-body .chart {
    height: 260px;
}

.list-group {
    margin-bottom: 0;
}
.list-group > .list-group-item {
    padding: 8px 15px;
}
.list-group > .list-group-item > .badge {
    border-radius: 0;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
}
.list-group > .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group > .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.help-block {
    font-size: 11px;
}

.has-feedback > .form-control-feedback {
    display: block;
    height: 29px;
    line-height: 29px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 22px;
    width: 29px;
    z-index: 2;
}

.input-group-addon {
    border-radius: 0;
}

.display_none {
    display: none;
}