body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 13px;
}

a {
    cursor: pointer;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    min-height: 44px;
}
.navbar > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-header {
    height: 44px;
}
.navbar-brand {
    padding: 12px 20px;
}
.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-fixed-top {
    z-index: 999;
}
.navbar-inverse {
    border-bottom: 0;
}
.navbar-brand {
    height: 44px;
    min-width: 150px; 
}

.navbar-side {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    display: block;
    z-index: 100;
    background-color: #f0f0f0;
    height: 100%;
    width: 192px;
    max-width: 192px;
    padding-top: 10px;
    overflow: auto;
}
.navbar-side-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar-side > .nav > li > a {
    font-size: 12px;
    color: #333333;
    padding: 8px 15px;
    border-bottom: 1px solid #f0f0f0;
}
.navbar-side > .nav > li > a:hover,
.navbar-side > .nav > li.active > a {
    background-color: #dfdfdf;
    color: #000000;
}
.navbar-side > .nav > li.active > a {
    font-weight: bold;
}
.navbar-side > .nav > li.subnav > a {
    cursor: default;
    font-size: 18px;
}
.navbar-side > .nav > li.subnav > a,
.navbar-side > .nav > li.subnav > a:hover {
    background-color: #f0f0f0;
}

.page-content {
    padding: 12px 15px;
    padding-bottom: 0;
}
.page-content .content {
    margin-left: 192px;
}

.header {
    background-color: #cccccc;
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.header .header-title {
    font-size: 24px;
}
.header .breadcrumb {
    font-size: 12px;
}

.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 12px;
}
.dropdown-menu > li > a {
    padding: 5px 20px;
}


.breadcrumb {
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 0;
}
.breadcrumb > li.active,
.breadcrumb > li > a {
    font-size: 11px;
}
.breadcrumb > li + li:before {
    padding: 0 3px;
    content: "»\00a0";
}

.global-button {
    /*margin-top: 12px;*/
}
.btn-group .dropdown-menu {
    /*border-radius: 4px;*/
}
.btn-sm,
.btn-group-sm > .btn {
    border-radius: 0;
}
.btn-theme > .btn-default {
    background-color: #333333;
    border: 1px solid #333333;
    color: #f5f5f5;
}
.btn-theme > .btn-default:hover {
    background-color: #080808;
}

.row-panel {
    margin-bottom: 15px;
}
.row-panel .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-full {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-left {
    padding-left: 0;
    padding-right: 7.5px;
}
.row-panel .panel-center {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.row-panel .panel-right {
    padding-left: 7.5px;
    padding-right: 0;
}
.panel {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 7px 15px;
}
.panel-theme .panel-default {
    border-color: #333333;
}
.panel-theme .panel-default > .panel-heading {
    background-color: #333333;
    border-color: #333333;
    color: #f5f5f5;
}

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
}

.panel-default > .panel-heading a {
    padding: 0;
}
.panel-theme .panel-default > .panel-heading a {
    color: #f5f5f5;
}
.panel-default > .panel-heading a {
    color: #333333;
}
.panel-default > .panel-heading a span.fa {
    padding: 3px 6px;
}
.panel-default > .panel-heading a span.fa:hover {
    background-color: #dddddd;
    color: #333333;
}
.panel-theme > .panel-default > .panel-heading a span.fa:hover {
    background-color: #f5f5f5;
    color: #333333;
}
.panel-collapse > .panel-body {
    max-height: 200px;
    overflow: auto;
}

.glyphicon-left {
    margin-right: 3px;
}
.glyphicon-right {
    margin-left: 3px;
}

.dashboard-overview {
    /*font-size: 50px;*/
    
    /*padding:5px 10px;*/
    /*margin-right: 10px;*/
}
.dashboard-overview .panel {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border: 1px solid #333333;
}
.dashboard-overview .panel:hover {
    /*background-color: #dfdfdf;*/
    /*border: 1px solid #cccccc;*/
}
.dashboard-overview .do-icon {
    background-color: #333333;
    color: #ffffff;
    font-size: 40px;
    padding: 8px 15px;
    min-width: 75px;
    text-align: center;
}
.dashboard-overview .do-value {
    padding: 2px 10px;
    margin: auto;
}
.dashboard-overview .do-value .total {
    font-size: 32px;
}
.dashboard-overview .do-value .title {
    padding: 0px 2px;
}

.footer {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-bottom: none;
    padding: 10px;
}





.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-both {
    clear: both;
}



/**
 * nanti musti diapus ya
 */
.row-panel .panel-body {
    min-height: 200px;
}