body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 12px;
}

a {
    cursor: pointer;
}
a:focus {
    outline: none;
    outline-offset: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    min-height: 44px;
}
.navbar > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-header {
    height: 44px;
}
.navbar-brand {
    padding: 12px 20px;
}
.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-fixed-top {
    z-index: 999;
}
.navbar-inverse {
    border-bottom: 0;
}
.navbar-brand {
    height: 44px;
    min-width: 150px; 
}

.navbar-side {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    background-color: #f0f0f0;
    height: 100%;
    width: 192px;
    max-width: 192px;
    padding-top: 10px;
    overflow: auto;
}
.navbar-side-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar-side > .nav > li > a {
    font-size: 12px;
    color: #333333;
    padding: 6px 15px;
    border-bottom: 1px solid #f0f0f0;
}
.navbar-side > .nav > li > a:hover,
.navbar-side > .nav > li.active > a {
    background-color: #dfdfdf;
    color: #000000;
}
.navbar-side > .nav > li.active > a {
    font-weight: bold;
}
.navbar-side > .nav > li.subnav > a {
    cursor: default;
    font-size: 16px;
}
.navbar-side > .nav > li.subnav > a,
.navbar-side > .nav > li.subnav > a:hover {
    background-color: #f0f0f0;
}

.page-content {
    padding: 12px 15px;
    padding-bottom: 0;
}
.page-content .content {
    /*margin-left: 192px;*/
    margin-left: 0;
}

.header {
    background-color: #cccccc;
    /*min-height: 40px;*/
    margin-top: 5px;
    margin-bottom: 10px;
}
.header .header-title {
    font-size: 24px;
}
.header .breadcrumb {
    font-size: 12px;
}

.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 12px;
}
.dropdown-menu > li > a {
    padding: 5px 20px;
}


.breadcrumb {
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 0;
}
.breadcrumb > li.active,
.breadcrumb > li > a {
    font-size: 11px;
}
.breadcrumb > li + li:before {
    padding: 0 3px;
    content: "»\00a0";
}

.global-button {
    /*margin-top: 12px;*/
}
.btn-group .dropdown-menu {
    /*border-radius: 4px;*/
}
.btn-sm,
.btn-group-sm > .btn {
    border-radius: 0;
}
.btn-theme > .btn-default {
    background-color: #333333;
    border: 1px solid #333333;
    color: #f5f5f5;
}
.btn-theme > .btn-default:hover {
    background-color: #080808;
}

.row-panel {
    margin-bottom: 15px;
}
.row-panel .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-full {
    padding-left: 0;
    padding-right: 0;
}
.row-panel .panel-left {
    padding-left: 0;
    padding-right: 7.5px;
}
.row-panel .panel-center {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.row-panel .panel-right {
    padding-left: 7.5px;
    padding-right: 0;
}
.panel {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 7px 15px;
}
.panel-theme .panel-default {
    border-color: #333333;
}
.panel-theme .panel-default > .panel-heading {
    background-color: #333333;
    border-color: #333333;
    color: #f5f5f5;
}

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
}

.panel-default > .panel-heading a {
    padding: 0;
}
.panel-theme .panel-default > .panel-heading a {
    color: #f5f5f5;
}
.panel-default > .panel-heading a {
    color: #333333;
}
.panel-default > .panel-heading a span.fa {
    padding: 3px 6px;
}
.panel-default > .panel-heading a span.fa:hover {
    background-color: #dddddd;
    color: #333333;
}
.panel-theme > .panel-default > .panel-heading a span.fa:hover {
    background-color: #f5f5f5;
    color: #333333;
}
.panel-collapse > .panel-body {
    max-height: 200px;
    overflow: auto;
}

.icon-left {
    margin-right: 3px;
}
.icon-right {
    margin-left: 3px;
}

.dashboard-overview {
    /*font-size: 50px;*/
    
    /*padding:5px 10px;*/
    /*margin-right: 10px;*/
}
.dashboard-overview .panel {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border: 1px solid #333333;
    position: relative;
}
.dashboard-overview .panel:hover {
    /*background-color: #dfdfdf;*/
    /*border: 1px solid #cccccc;*/
}
.dashboard-overview .do-icon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333333;
    color: #ffffff;
    font-size: 40px;
    padding: 4px 10px;
/*    min-width: 75px;*/
    text-align: center;
}
.dashboard-overview .do-value {
    margin-left: 72px;
}
.dashboard-overview .do-value .total {
    padding: 6px 8px 2px;
    font-size: 22px;
    overflow: hidden;
}
.dashboard-overview .do-value .title {
    padding: 2px 8px 6px;
    overflow: hidden;
}

.footer {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-bottom: none;
    padding: 10px;
}

.heading_title {
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    padding: 3px 0;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    font-size: 12px;
    padding: 6px 8px;
}
select.form-control {
    padding: 5.5px 8px;   
}
.form-control:focus {
    box-shadow: none;
}



.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-both {
    clear: both;
}

.radio, .checkbox {
    margin-top: 2px;
    margin-bottom: 5px;
}
.radio label, .checkbox label {
    display: inline-block;
    vertical-align: 2px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
}



/**
 * nanti musti diapus ya
 */
.row-panel .panel-body {
    min-height: 200px;
    max-height: 400px;
}
.row-panel .panel-body .chart {
    height: 260px;
}

.panel-theme .list-group-item {
    color: #333333;
}

.list-group {
    margin-bottom: 0;
}
.list-group > .list-group-item {
    padding: 8px 15px;
}
.list-group > .list-group-item > .badge {
    border-radius: 0;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
}
.list-group > .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group > .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.display_none {
    display: none;
}