a {
    color: #333333;
}

.navbar {
    background-color: #333333;
}
.navbar .navbar-nav > li > a {
    color: #ffffff;
}
.navbar .navbar-nav > li > a:hover {
    background-color: #080808;
}
.navbar .navbar-nav > li.active > a {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
.navbar-brand {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #080808;
    border: 1px solid #080808;
}
.dropdown-menu > li > a {
    color: #cccccc;
}
.dropdown-menu > li > a:hover {
    color: #000000;
}
.dropdown-menu .divider {
    background-color: #222222;
}

.header {
    background-color: #ffffff;
}

.breadcrumb > li.active > a {
    color: #333333;
}
.breadcrumb > li + li:before {
    color: #999999;
}

.btn-group .dropdown-menu {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.btn-group .dropdown-menu .divider {
    background-color: #e5e5e5;
}
.btn-group .dropdown-menu > li > a {
    color: #333333;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #dddddd;
}